.item {
    position: relative;
}

.sticker {
    top: 8px;
    right: 8px;

    position: absolute;

    background-color: #3F3D56;
    border: 0.7px solid #ffff;
    border-radius: 7px; 
    padding: 3px 6px;
    color: white ; 

    
    font-size: 12px;
}

.library-buttons {
    display: flex;

    @media(max-width: 750px) {
        flex-direction: column;
    }
}

.rented-book {
    display: flex;
    align-items: center;

    margin: 8px 6px 5px 0px;
    padding: 6px 7px;

    background-color: #dfdee3;
    border: 1px solid #dfdee3;
    border-radius: 5px; 
    padding: 3px 6px;
    color: #6c6980; 
    
    font-size: 15px;

    @media(max-width: 750px) {
        margin: 3px 0px;
        padding: 3px 6px;
        font-size: 13px;
        text-wrap: nowrap;
    }
}

.rented-book svg {
    margin: 3px;

    @media(max-width: 750px) {
        margin: 2px;
        margin-left: 0px;
    }
}