.item {
    position: relative;
}

.sticker {
    top: 8px;
    right: 8px;

    position: absolute;

    background-color: #3F3D56;
    border: 0.7px solid #ffff;
    border-radius: 7px; 
    padding: 3px 6px;
    color: white ; 

    
    font-size: 12px;
}

.library-buttons {
    display: flex;

    @media(max-width: 750px) {
        flex-direction: column;
    }
}