.cart {
    margin: 60px auto;
    color: #2F2E41;
}

.cart-container {
    width: 60%;
    margin: auto;

    @media(max-width: 1200px) {
        width: 75%;
        margin: 40px auto;
    }

    @media(max-width: 750px) {
        width: 85%;
        margin: 40px auto;
    }
}

.cart-container h2 {
    margin: 5px auto;

    @media(max-width: 750px) {
        font-size: 18px;
    }
}

.cart-container ul {
    margin-bottom: 30px;
}

.cart-container p {
    @media(max-width: 1200px) {
        display: none;
    }
}

.cart-book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #DEDEDE;

    @media(max-width: 750px) {
        min-width: 260px;
    }
}

.cart-book-title {
    display: flex;
    align-items: center;
}

.cart-book-title div {
    width: 270px;

    @media(max-width: 1200px) {
        width:100%;
        max-width: 200px;
    }

    @media(max-width: 750px) {
        width:100%;
        max-width: 100px;
        margin-right: 10px;
    }
}

.cart-book img {
    margin-right: 20px;

    max-width: 100px;
    border-radius: 10px;

    @media(max-width: 750px) {
        max-width: 80px;
        margin-right: 10px;
    }
}

.cart-book h4 {
    font-weight: bold;
    font-size: 16px;

    @media(max-width: 750px) {
        font-size: 12px;
    }
}

.cart-book h5 {
    font-size: 15px;

    @media(max-width: 750px) {
        font-size: 12px;
    }
}

.cart-book button {
    border: none;
    background: none;
    cursor: pointer;
    transition: all 400ms ease;
}

.cart-book button:hover {
    transform: scale(1.07);
    color: #5e5b7a;
}

.cart-book svg {
    width: 26px;
}

.cart-book-price {
    @media(max-width: 750px) {
        text-align: center;
    }
}

.total-price {
    margin: 20px auto;

    display: flex;
    justify-content: end;
    text-align: right;

    font-size: 18px;

    @media(max-width: 750px) {
        font-size: 16px;
    }
}

.total-price span {
    font-weight: bold;
}

.cart-buy-button {
    margin: 20px auto;
    display: flex;
    justify-content: end;
}

.cart-buy-button button {
    display: flex;
    align-items: center;
    padding: 5px 15px;

    border: 1px solid #2F2E41;
    border-radius: 7px;

    font-size: 17px;

    transition: all 400ms ease;
    cursor: pointer;
}

.cart-buy-button button:hover {
    background: #2F2E41;
    transform: scale(1.03);
    border: 1px solid #2F2E41;
    color: #ffff;
}

.cart-buy-button button span {
    margin-left: 7px;
}
