.preorder-container {
    margin: 70px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2E41;

    @media(max-width: 750px) {
        margin: 50px;
    }
} 

.preorder-container img {
    max-width: 600px;

    @media(max-width: 1200px) {
        max-width: 450px;
    }

    @media(max-width: 750px) {
        max-width: 350px;
    }
}

.preorder-title {
    margin-bottom: 30px;
    text-align: center;
}

.preorder-title h4 {
    font-weight: bold;
}

.warning-block {
    width: 60%;
    /* max-width: 650px; */
    display: flex;
    margin: 5px 25px;

    padding: 10px;
    /* border: 1px solid #2F2E41; */

    color: #2F2E41;
    /* background: #36354d; */
}

.warning-block-icon {
    padding-right: 15px;
    color: #F664AF;
}

.warning-block-text {
    /* width: 60%; */
    font-size: 14px;
}

.warning-block-text span {
    background-color: #FDF9B2;
}


.preorder-buttons {
    margin: 20px 30px;
    display: flex;
    justify-content: end;
}

.preorder-submit-button {
    padding: 5px 15px;

    display: flex;
    align-items: center;

    border: 1px solid #2F2E41;
    border-radius: 7px;

    transition: all 400ms ease;
    cursor: pointer;
}

.preorder-submit-button:hover {
    transform: scale(1.04);
    background: #2F2E41;
    color: #ffff;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.modal-content {
    background: #fff;
    padding: 15px 5px;
    border-radius: 10px;
    text-align: center;
}
  
.modal-content button {
    margin: 15px auto;
    padding: 5px 7px;

    border: 1px solid #2F2E41;
    border-radius: 7px;

    transition: all 400ms ease;
    cursor: pointer;
}

.modal-content button:hover {
    transform: scale(1.04);
    background: #2F2E41;
    color: #ffff;
}

.modal-content h4{
    font-weight: bold;
    margin: 5px;
}

.modal-content p {
    width: 70%;
    margin: auto;
}

.preorder-container {
    position: relative;
}