.bookpage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;

    position: relative;
}

.bookpage-container {
    justify-content: center;
    align-items: start;

    margin: 50px 20px;
    width: 60%;

    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: repeat(3, auto);
    gap: 10px;

    color: #2F2E41;

    @media(max-width: 1200px) {
        width: 80%;
        margin-top: 70px;
    }

    @media(max-width: 750px) {
        width: 90%;
        margin: 20px;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        gap: 5px;
    }
  }
  
.bookpage-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @media(max-width: 750px) {
        margin-left: 20px;
    }
}

.bookpage-header h2 {
    font-size: 20px;
    font-weight: bold;
}

.bookpage-header h3 {
    font-size: 16px;
    color:#6b6869;
}

.bookpage-price {
    display: flex;
    align-items: center !important;

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    @media(max-width: 750px) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

.bookpage-price h2 {
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bold;

    @media(max-width: 750px) {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 18px;
    }
}

.bookpage-img {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @media(max-width: 750px) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;

        margin-left: 20px;
    }
}

.bookpage-img img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;

    @media(max-width: 750px) {
        max-width: 300px;
    }
}

.bookpage-desc {
    margin-left: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: start;

    @media(max-width: 750px) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;

        margin: 0 20px;
    }
}

.bookpage-desc p {
    font-size: 15px;
}

.bookpage-desc button {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px 10px;

    border: 1px solid #2F2E41;
    border-radius: 7px;

    font-size: 16px;

    transition: all 400ms ease;
    cursor: pointer;

    @media(max-width: 750px) {
        margin: 10px auto;
        margin-bottom: 15px;
        font-size: 18px;
    }
}

.bookpage-desc button:hover {
    background: #2F2E41;
    transform: scale(1.03);
    border: 1px solid #2F2E41;
    color: #ffff;
}

.bookpage-desc svg {
    padding-right: 5px;
}

.out-of-stock-message {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 15px;

    border: 2px solid rgb(203, 74, 74);
    border-radius: 7px;

    color: rgb(203, 74, 74);
    font-size: 18px;
    font-weight: bold;
}

.rented-message {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 15px;

    border: 2px solid #e9cf5a;
    border-radius: 7px;

    color: #e9cf5a;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-wrap: nowrap;

    @media(max-width: 750px) {
        text-wrap: wrap;
        font-size: 16px;
    }
    
}

.bookpage-data-more {
    display: flex;
    align-items: center;
    justify-content: start;

    cursor: pointer;
    color: #6b6869;

    @media(max-width: 750px) {
        margin-top: 0px;
        margin-left: 0px;
    }
}

.bookpage-data span {
    align-items: center;
    font-size: 15px;
}

.bookpage-data-icon {
    align-items: center;
}

.book-details-expanded {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    color: #6b6869;

    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s ease, transform 0.3s ease;

    @media(max-width: 750px) {
        margin-left: 20px;
    }
}

.book-details-expanded.open {
    opacity: 1;
    transform: scaleY(1);
  }

.book-details-expanded h7 {
    padding: 1px;
    font-size: 15px;
}

.back-button {
    justify-content: start;
    align-items: start;

    margin: 0;
    display: flex;
    align-items: center;
    
    padding: 3px;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    font-size: 14px;
    color: #a5a5a5;

    position: absolute;
    top: 60px;
    left: 110px;

    transition: all 400ms ease;

    @media(max-width: 1200px) {
        top: 30px;
        left: 120px;
    }

    @media(max-width: 750px) {
        top: 25px;
        left: 40px;
    }
}

.back-button:hover {
    transform: scale(1.03);
}

.bnf-container {
    margin: 100px 0px;
    display: flex;
    justify-content: center;
}

.bnf-container p {
    font-size: 20px;
}

.thumbnails-container {
    display: flex;
    justify-content: start;
}

.bookpage-img-thumbnail {
    width: 89px;
    margin: 7px 15px;
    margin-left: 0px;
    cursor: pointer;
    transition: all 400ms ease;

    @media(max-width: 1200px) {
        width: 80px;
        margin: 6px;
        margin-left: 0px;
    }

    @media(max-width: 750px) {
        width: 70px;
    }
}

.bookpage-img-thumbnail:hover {
    transform: scale(1.03);
}

.bookpage-img-thumbnail img {
    border-radius: 6px !important;
}