#name-of-site {
    color: #625F60;
    font-size: 17px;
    font-weight: 700;
    margin: 10px;
  }
  
  #nav-item {
    padding-left: 10px;
  
    color: #625F60;
    font-size: 15px;
  
    transition: transform 500ms ease;
  }
  
  #nav-item:hover  {
    color: #080808;
    transform: scale(1.05);
  }

  #logo {
    margin: auto;
  }