.search {
    margin-left: 10px;
    position: relative;
}

.search input {
    margin: auto 5px;
    padding: 5px;
    padding-left: 30px !important;
    width: 250px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    color: #212529;
    font-size: 14px;
}

.search input:focus {
    outline: 1px solid #FDF9B2;
}

.search input::placeholder {
    color: rgba(196, 193, 193, 0.227)F60;
    font-weight: normal;
}
.search svg {
    position: absolute;
    right: 230px; 
    top: 50%;
    transform: translateY(-50%);
    color: #625F60;
}


