
.filter {
    position: relative;

    font-size: 14px;
    margin: auto 10px;
    color: #625F60;
}

.filter__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 400ms ease;
}

.filter__label:hover{
    transform: scale(1.03);
}

.filter__label svg {
    width: 16px;
    margin-right: 8px;

    @media(max-width: 750px) {
        width: 23px;
        margin: 0px;

        border: 1px solid;
        padding: 2px;
        border-radius: 5px;
        background: #ffff;
      }
}  

.filter__popup {
      position: absolute;    
      z-index: 10; 

      right: 0;
      margin-top: 15px;

      background: #ffffff;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
      border-radius: 10px;
      padding: 20px;
      text-align: left;

      display: inline-flex;

      @media(max-width: 1200px) {
        display: block;
      }

      @media(max-width: 750px) {
        text-align: left;
      }
} 

.filter__popup b {
    padding-left: 10px;
    padding-bottom: 5px;
}

.filter__popup ul {
    overflow: hidden;
    padding: 0px;
    margin-bottom: 0px;
}

.filter__popup ul li {
    list-style-type: none;
    display: block;

    padding: 3px 15px 3px 3px;
    cursor: pointer;
    border-radius: 7px;
    transition: all 400ms ease;

    white-space: nowrap;
    
    &:hover { 
    transform: scale(1.03);
    }

    @media (max-width: 750px) { 
        /* font-size: 16px; */
        white-space: wrap;
        text-align: left;
    }
}

.popup__frst__column {
    margin-right: 15px;
    @media (max-width: 750px) {
        margin: 20px 10px;
    }
}

.popup__scnd__column {
    @media (max-width: 750px) {
        margin-left: 20px;
    }
}

.filter__popup .input {
    margin: auto 5px;
    padding: 5px;
    width: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    /* color: #625F60; */
    color: #2F2E41;
    font-weight: bold;
    font-size: 13px;

    @media (max-width: 750px) {
        font-size: 16px;
    }
}

.filter__popup .input:focus {
    outline: 2px solid #FDF9B2;
}

.filter__popup .input::placeholder {
    color: rgba(196, 193, 193, 0.227)F60;
    font-weight: normal;
}

.range {
    margin-bottom: 10px;
}

.range__input {
    display: flex ;
    justify-content: start;
}

.range__name {
    font-weight: bold;
    margin-bottom: 5px;
}

.fromTo {
    margin: auto 0px;
}

.inStock {
    display: flex ;
    justify-content: start;

    cursor: pointer;
    transition: all 400ms ease;
}

.inStock:hover {
    transform: scale(1.03);
}

.inStock .checkbox {
    margin: auto 0px;
}

.inStock__name {
    font-weight: bold;
    margin-left: 5px;
}

.popup__buttons {
    display: block;
    @media (max-width: 750px) {
        display: flex;
      }
}

.popup__buttons button {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 3px;

    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    color: #625F60;
    font-size: 13px;

    transition: all 400ms ease;

    @media (max-width: 750px) {
        background: #e7e7e7;
        margin: 5px;
        font-size: 18px;
        text-align: center;
      }
}

.popup__buttons button:hover {
    background: #FDF9B2;
    transform: scale(1.03);
}

.popup__buttons button svg {
    padding-right: 2px;

    @media (max-width: 750px) {
        width: 25px;
      }
}

.popup__buttons button .reset {
    @media (max-width: 750px) {
          /* display: none; */
        }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Здесь можно настроить прозрачность фона */
    z-index: 9; /* Меньше, чем z-index вашего .filter__popup, чтобы быть под ним */
}

@media (max-width: 750px) {
    .filter__popup {
        position: fixed;
        z-index: 10;
        bottom: 0;
        height: calc(1/1.5 * 100vh); /* 2/3 экрана в высоту */
        width: 91%;
        overflow-y: scroll;
        
        /* display: flex; */
        margin: 0px;
        border-radius: 20px 20px 0px 0px;
        font-size: 18px;
    }

    .filter__text {
        display: none;
      }


  }
  
